{% extends "layouts/main.html" %}

{% block content %}

<a href="/task-5-question-2" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers: Task 5</h1>

    <h2 class="govuk-heading-m">Task 5 answers</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Question 1
        </dt>
        <dd class="govuk-summary-list__value">
          Option 2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/task-5">
            Change<span class="govuk-visually-hidden"> question 1</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Question 2
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/task-5-question-2">
            Change<span class="govuk-visually-hidden"> question 2</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="/check-answers-task-5" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

    <p class="govuk-body">
      <a href="/task-list" class="govuk-link">Return to task list</a>
    </p>

  </div>
</div>

{% endblock %}
