{% extends "layouts/main.html" %}

{% block content %}

<a href="/task-list" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/task-2-question-2" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="business-name">
            Task 2 - Question 1
          </label>
        </h1>
        <div id="task-hint" class="govuk-hint">
          This is the first question in Task 2
        </div>
        <input class="govuk-input" id="business-name" name="business-name" type="text">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body">
      <a href="/task-list" class="govuk-link">Return to task list</a>
    </p>

  </div>
</div>

{% endblock %}
