{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/check-answers-task-7" method="post">

      <h1 class="govuk-heading-l">Task 7 - Question 2</h1>

      <p class="govuk-body">This is the second question in Task 7</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Field 1
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" autocomplete="email">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="phone">
          Field 2
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="phone" name="phone" type="tel" autocomplete="tel">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
