{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/check-answers-task-2" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Task 2 - Question 2
            </h1>
          </legend>
          <div id="task-hint" class="govuk-hint">
            This is the second question in Task 2
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="trading-name" name="trading-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="trading-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="trading-name-2" name="trading-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="trading-name-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
